*:not(dialog) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button, .clickable, input[type="checkbox"] {
    cursor: pointer;
}
button {
    padding: 5px;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 123, 0);
}

.tasks-editor {
    --padding: 70px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    --width: 700px;
    width: var(--width);
    height: 95vh;
    background-color: white;
    border-radius: 12%;
}
.tasks-editor .groups-list {
    display: flex;
    overflow: scroll;
}
.groups-list div {
    background-color: rgb(212, 212, 212);
    width: 100px;
    height: 30px;
    text-align: center;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 35%;
}
.groups-list .selected {
    background-color: grey;
    color: white;
}

.tasks-list .item.template-task {
    display: none;
}
.tasks-list {
    margin-top: 50px;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: 20px;
}
.tasks-list .item {
    width: 100%;
    display: flex;
    align-items: center;
}
.item div {
    word-break: break-all;
    text-align: center;
    flex: 1;
    font-size: 13px;
}
.item div.title-div {
    text-align: start;
    flex: 2;
}

.item .remove-btn {
    padding: 0;
    width: 23px;
    height: 23px;
    font-size: 10px;
    background-color: transparent;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
}
.item .expand-btn {
    width: 30px;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 40%;
    font-weight: bold;
}

.add-btn {
    position: absolute;
    margin-top: 40px;
    margin-left: calc(var(--width) - var(--padding));
    width: 40px;
    height: 50px;
    border: 1px solid black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: none;
    background-color: rgb(48, 252, 48);
    font-size: 25px;
    font-weight: 500;
    transition: width 0.1s;
}
.add-btn:hover {
    width: 50px;
    font-weight: 800;
}


dialog:not(.desc-dialog) {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.desc-dialog {
    margin: 0;
    padding: 5px;
    position: absolute;
    width: 200px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    word-wrap: break-word;
    z-index: 11;
}

.task-dialog {
    width: 60%;
}
.task-dialog div * {
    display: block;
}
.task-dialog input, .task-dialog select, .task-dialog label {
    width: 50%;
}
.task-dialog button, .task-dialog select {
    display: inline;
}

.group-dialog button {
    width: 80px;
}

.error-dialog {
    width: 400px;
    align-items: center;
    border-color: rgb(199, 0, 0);
}

dialog[open]:not(.desc-dialog) {
    animation: fade-in 0.3s ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
    display: none;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    display: block;
  }
}